@font-face {
    font-family: 'Autom';
    src: url('AutomBold.woff2') format('woff2'),
        url('AutomBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

